# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: pyA2L

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

jobs:
  build:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
        fail-fast: false
        matrix:
            os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Build wheel
        uses: pypa/cibuildwheel@v2.3.1
      - name: Upload to PyPI
        uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
            user: ${{ secrets.PYPI_USER_NAME }}
            password: ${{ secrets.PYPI_PASSWORD }}
      #- name: Build and publish
      #  env:
      #    TWINE_USERNAME: ${{ secrets.PYPI_USER_NAME }}
      #    TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      #  if: env.TWINE_USERNAME != null
      #  run: |
      #    python setup.py bdist_wheel
      #    twine upload dist/*
